table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 4px;
}

.odd tbody tr:nth-child(odd) {
    background-color: #CE352C;
    color: #ffffff;
}

.even tbody tr:nth-child(even) {
    background-color: #008A00;
    color: #ffffff;
}